/*Gerais*/
body {
    background-image: url(../img/fundo-aquarela-pintado-a-mao-com-forma-de-ceu-e-nuvens.jpg); /*<a href="https://br.freepik.com/fotos-gratis/fundo-aquarela-pintado-a-mao-com-forma-de-ceu-e-nuvens_9728599.htm#query=background%20bege&position=16&from_view=keyword&track=ais&uuid=e121b668-cb0f-4c33-a87f-d0ae449fafe1">Imagem de denamorado</a> no Freepik*/
    background-size: cover;
    background-position:fixed;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

/*Barra de navegação*/

header, .navbar{
    background-color: #F06EDF;
    margin-bottom: 0px;
}
#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}
#logo{
    width: 75px;
}
.navbar-brand{
    padding: 0;
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.navbar-links{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}
#texto-descritivo{
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    margin-top: 90px;
    margin-bottom: 0;
    text-align: center;
    color:#F06EDF ;
}
